<div class='album py-5 bg-light'>

  <h1>Vehicle Inventory</h1>

  <div class='container'>
    <div *ngIf='vehicles.length == 0; else showvehicles'>
      <div class='spinner-border m-5' role='status'>
        <span class='visually-hidden'>Loading...</span>
      </div>
    </div>
    <ng-template #showvehicles>
      <div *ngFor='let vehicle of vehicles' class='custom-styling card-deck mx-auto'>
        <app-vehicle [inventoryVehicle]='vehicle'></app-vehicle>
      </div>
    </ng-template>
  </div>
</div>
