<div *ngIf='vehicle != null'>
  <div class='vehicle-container'></div>
  <div id='vehicle-images' class='carousel slide' data-ride='carousel'>
    <div id='' class='carousel-inner'>
      <div *ngFor='let img of vehicle.vehicleImages' class='carousel-item active'>
        <img class='d-block w-100' id='{{img.id}}}' src='{{img.imageData}}' alt='First slide'>
      </div>
    </div>
    <div>
      <a href='#1' role='button' data-bs-slide='prev' class='carousel-control-prev'>
        <span aria-hidden='true'
              class='carousel-control-prev-icon'>
        </span>
        <span
          class='visually-hidden'>Previous
        </span>
      </a>
      <a href='#1' role='button' data-bs-slide='next'
         class='carousel-control-next'>
        <span aria-hidden='true'
              class='carousel-control-next-icon'>
        </span>
        <span
          class='visually-hidden'>Next</span></a></div>
  </div>

  <div id='make'>Make: {{vehicle.make}}</div>
  <div id='model'>Model: {{vehicle.model}}</div>
  <div id='year'>Year: {{vehicle.year}}</div>
  <div id='vin'>VIN: {{vehicle.vin}}</div>
  <div id='miles'>Miles: {{vehicle.miles}}</div>
  <div id='color'>Color: {{vehicle.color}}</div>
  <div id='price'>Price: {{vehicle.sellingPrice}}</div>
  <div id='owner'>Owner: {{vehicle.userId}}</div>
  <div id='status'>Status: {{vehicle.status}}</div>
</div>
