.vehicle-container {
  text-align: center;
}

#vehicle-image-container {
  height: 50vh;
  width: 80vw;
  margin: auto;
  
}

#vehicle-carousel {
  width: 200px;
  text-align: center;
}

.vehicle-title {
  font-size: 3em;
  font-weight: 600;
}

.vehicle-price {
  font-size: 1.5em;
  font-weight: 600;
}

/* .vehicle-info-container {
  text-align: center;
} */

.vehicle-info {
  margin: auto;
  text-align: left;
  width: 20em;
}

.image {
  max-height: 200px;
  max-width: 200px;
}