<div *ngIf='vehicle != null'>
  <div class='vehicle-container'>
    <!--  Carousel   -->
    <div id='vehicle-carousel w-50' class='carousel slide' data-bs-ride='carousel'>
      <div id='vehicle-image-container' class='carousel-inner w-50'>
        <div *ngIf='vehicle.vehicleImages.length == 0; else loadimages' class='carousel-item active'>
          <img 
            class='d-block w-100' 
            src='https://cdn.bootstrapstudio.io/placeholders/1400x800.png' 
            alt='Vehicle Image' />
        </div>
        <ng-template #loadimages>
          <div *ngFor='let img of vehicle.vehicleImages' class='carousel-item active'>
            <div>
            <img 
              class='d-block w-100' 
              id='{{img.id}}' 
              src='{{img.imageData}}'
              alt='{{img.id}}' />
            </div>
          </div>
        </ng-template>
      </div>

      <button class='carousel-control-prev' type='button' data-bs-target='#vehicle-carousel' data-bs-slide='prev'>
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
      </button>
      <button class='carousel-control-next' type='button' data-bs-target='#vehicle-carousel' data-bs-slide='next'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
      </button>


    </div>

    <div id='year-make-model' class='vehicle-title'>
      {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}
    </div>
    <div class='vehicle-price'>
      <p id='price'>MSRP: {{vehicle.sellingPrice}}</p>
    </div>
    <div class='vehicle-info-container'>
      <div class='vehicle-info'>
        <h3>Basic Information</h3>
        <p id='vin'><strong>VIN:</strong> {{vehicle.vin}}</p>
        <p id='miles'><strong>Miles:</strong> {{vehicle.miles}}</p>
        <p id='color'><strong>Color:</strong> {{vehicle.color}}</p>
        <p id='owner'><strong>Owner:</strong> {{vehicle.userId}}</p>
        <p id='status'><strong>Status:</strong> {{vehicle.status}}</p>
      </div>
    </div>

    <div *ngFor="let img of vehicle.vehicleImages">
      <div>
        <img class="image" src="{{img.imageData}}"/>
      </div>
    </div>


  </div>
</div>


