.vehicle-container {
  margin: 0 5em;
  text-align: center;
}

.vehicle-main-info-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.img-thumbnail {
  display: inline-block;
  height: 25em;
  width: 25em;
}

.vehicle-title {
  display: inline-block;
  font-size: 3em;
  font-weight: 600;
}

.vehicle-price {
  font-size: 1.5em;
  font-weight: 600;
}

.vehicle-info-container {
  display: block;
}

.vehicle-info {
  margin: auto;
  text-align: left;
  width: 20em;
}

.listed-image-container {
  display: inline-block;
  padding: 1em;
}

.listed-image {
  height: 10em;
  width: 10em;
}