<div class="about-container">
  <!-- <img src="../../../assets/susCar.jpg" /> -->

  <h1>Is Your Vehicle Sus?</h1>
  <img src="../../../assets/sus.png" />

  <div class="about-body">
    <h4>
      Submit your vehicle with us! Our employees simply will never
      pretend to complete tasks to avoid suspicion. We will work with
      you 24/7 to make sure your vehicle is sold at the highest price
      possible. Our main showroom is always kept at a comfortable
      temperature with our wide selection of venting (heh) and air
      conditioning fueled by our very own reactor.
    </h4>
  </div>

  <img src="../../../assets/support.png" />
</div>
