<div>
  <h1 id="title">About (s)Us</h1>
  <p id="location">
    Location: 12345 Totally Legit Ln. Real City, RS 11111
  </p>
  <p id="phoneNum">Phone: (123) 456-789</p>
  <p id="email">SellUsStuffCars@email.com</p>
  <p id="description">
    Sell Us Stuff (SUS) Cars is our car dealership branch of the SUS
    family. <br />
    Owned and operated by Laura, we pride ourselves in buying and
    selling used cars. <br />
    Our lot is located at 12345 Totally Legit Ln. in Real City, Real
    State so stop by and <br />
    see our stuff. We are open Monday-Friday from 7am to 8pm.
  </p>
</div>
