.card {
  min-height: 26em;
  max-height: 26em;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
}

.col-sm-3 {
  width: 100%;
}

.img-container {
  padding: 10px;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

.card-title {
  padding: 0.5em 1em;
}
