.card-title {
  padding-left: 16px;
  padding-top: 8px;
}

.card {
  min-width: 250px;
  width: 100%;
}
.col-md-4 {
  max-width: 100%;
}

.img-container {
  padding: 10px;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}
