<div class='card'>
  <img
    *ngIf='vehicle.vehicleImages.length == 0; else loadImage'
    class='card-img-top'
    src='../../../assets/datsun510.jpg'
    alt='Card image cap'
  />
  <ng-template #loadImage>
    <img #loadImage src='{{ vehicle.vehicleImages[0].imageData }}'
         class='card-img-top'
         alt='{{vehicle.make}} {{vehicle.model}}'>
  </ng-template>
  <h5 class='card-title'>
    {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
  </h5>
  <div class='card-body'>
    <p class='card-text'>
      <!--  Need to get the inventory price, not selling price    -->
      Current price: {{ inventoryVehicle.price }}
      <br />
      Miles: {{ vehicle.miles }}
      <br />
      Color: {{ vehicle.color }}
    </p>
  </div>
</div>
