.card {
  min-height: 26em;
  max-height: 26em;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.col-sm-3 {
  width: 100%;
}

.img-container {
  padding: 10px;
  min-height: 200px;
  text-align: center;
}

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-title {
  padding: 0.5em 1em;
}
